.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f92d0;
}

@media (max-width: 1024px) {
  .container {
    visibility: hidden;
  }
}

.passage {
  font-size: 12px;
  font-weigth: bold;
}

@media (max-width: 1024px) {
  .passage {
    visibility: hidden;
  }
}
